/* ===== Universal Things ===== */
:root {
  --black-1: #33364A;
  --black-2: #2F3142;
  --black-text: #2A2C39;
  --orange: #EF6603;
  --grey: #36393a;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
  --shadow-light-4: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .5rem solid #2980b9;
  --border-bottom-3: .5rem solid #48ABC7;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .5rem solid #ffd300;
  --border-bottom-6: .2rem solid #40437c;
  --border-bottom-7: .5rem solid #fff;
  --border-1: .5rem solid #48ABC7;
  --border-2: .5rem solid #fff;
  --title-margin: 5rem;
  --top-margin: 2.5rem;
  --bottom-margin: 2.5rem;
  --left-margin: 5rem;
  --title-padding: 22.5rem 0rem 10rem 7.5rem;
  --big-padding: 17.5rem 7.5rem;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text-big: 2rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth; }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--grey); }

.nav {
  width: 100%;
  z-index: 3;
  background-color: var(--black-1);
  display: grid; }
  @media screen and (max-width: 800px) {
    .nav {
      display: none; } }
  .nav-ul {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    padding: 1rem; }
  .nav-li {
    font-size: var(--fs-title);
    list-style-type: none;
    padding: 1rem 2rem;
    transition: all .2s; }
    .nav-li--home {
      font-family: 'Fira Code';
      font-weight: 300;
      letter-spacing: .15rem;
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
    .nav-li--about {
      font-family: 'Fira Code';
      font-weight: 300;
      letter-spacing: .15rem;
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
    .nav-li--domains {
      font-family: 'Fira Code';
      font-weight: 300;
      letter-spacing: .15rem;
      text-decoration: none;
      color: #fff;
      transition: all .2s; }
  .nav-li:hover, .nav-li:active {
    background-color: var(--orange);
    border-radius: .3rem;
    transform: translateY(-1rem);
    box-shadow: var(--shadow-light-2); }

.navbar {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--black-1);
  width: 100%;
  z-index: 999999;
  padding: 2.5rem 0rem; }
  @media screen and (max-width: 800px) {
    .navbar {
      display: flex; } }
  .navbar-icon {
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer; }
    .navbar-icon > span {
      width: 50px;
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-in-out; }
    .navbar-icon:hover span:nth-child(1) {
      width: 35px; }
    .navbar-icon:hover span:nth-child(2) {
      width: 40px; }
    .navbar-icon.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(-45deg) translate(-9px, 10px);
      width: 55px; }
    .navbar-icon.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0; }
    .navbar-icon.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(45deg) translate(-12px, -13px);
      width: 55px; }
    .navbar-icon--line1 {
      width: 4.2rem;
      justify-self: end; }
    .navbar-icon--line2 {
      margin-top: 1.5rem;
      width: 3.5rem;
      justify-self: end; }
    .navbar-icon--line3 {
      margin-top: 1.5rem; }

.sticky {
  position: sticky;
  top: 0; }

.display {
  overflow-y: hidden;
  display: none;
  transition: all .5s ease-out; }

.navcontent {
  top: 0;
  background-color: var(--black-text);
  height: 0%;
  width: 100vw;
  position: fixed;
  overflow-y: hidden;
  z-index: 99999;
  transition: all .5s ease-out; }
  .navcontent-ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 200px);
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    color: #fff; }
    @media screen and (max-width: 37.5em) {
      .navcontent-ul {
        font-size: 1rem; } }
    .navcontent-ul--hjem {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      font-size: 1rem;
      align-self: end;
      justify-self: center; }
      .navcontent-ul--hjem_hjem {
        font-family: 'Fira Code';
        font-weight: 300;
        letter-spacing: 1rem;
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--om {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
      align-self: end;
      justify-self: center; }
      .navcontent-ul--om_om {
        font-family: 'Fira Code';
        font-weight: 300;
        letter-spacing: 1rem;
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--domains {
      grid-column: 1 / 1;
      grid-row: 3 / 3;
      align-self: end;
      justify-self: center;
      display: flex;
      flex-direction: column; }
      .navcontent-ul--domains_domains {
        font-family: 'Fira Code';
        font-weight: 300;
        letter-spacing: 1rem;
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }

.sticky {
  position: fixed; }

.landing {
  height: 80vh; }
  .landing-title {
    margin-top: 20rem;
    text-align: center;
    color: #fff;
    font-family: 'Fira Code';
    font-weight: 500;
    letter-spacing: .25rem;
    font-size: var(--fs-heading-big); }
    @media screen and (max-width: 540px) {
      .landing-title {
        font-size: var(--fs-heading); } }
    @media screen and (max-width: 425px) {
      .landing-title {
        font-size: var(--fs-text-big); } }
    @media screen and (max-width: 315px) {
      .landing-title {
        padding-left: 1rem;
        font-size: 1.75rem; } }
  .landing-typingcontainer {
    display: flex;
    flex-direction: row;
    height: 50vh;
    align-items: center;
    justify-content: center; }
    .landing-typingcontainer--typing {
      display: inline-block;
      color: #fff;
      margin-top: 10rem;
      font-family: 'Fira Code';
      font-weight: 500;
      letter-spacing: .25rem;
      font-size: var(--fs-heading); }
      @media screen and (max-width: 425px) {
        .landing-typingcontainer--typing {
          font-size: var(--fs-text-big); } }
    .landing-typingcontainer--cursor {
      align-content: center;
      border-right: .3rem solid #fff;
      height: 10%;
      margin-top: 10rem;
      animation-name: blinking-cursor;
      animation-duration: .5s;
      animation-iteration-count: infinite; }

.features__title {
  padding-top: 12.5rem;
  padding-left: 5rem;
  font-family: 'Fira Code';
  font-weight: 300;
  color: #fff;
  background-color: var(--black-1);
  font-size: var(--fs-heading);
  text-align: left; }
  @media screen and (max-width: 540px) {
    .features__title {
      font-size: var(--fs-title); } }
  @media screen and (max-width: 425px) {
    .features__title {
      font-size: var(--fs-text-big); } }
  @media screen and (max-width: 315px) {
    .features__title {
      padding-left: 1rem;
      font-size: var(--fs-text-big); } }

.features {
  display: grid;
  background-color: var(--black-1);
  height: 95vh;
  grid-column: center-start / center-end;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
  padding: 5rem;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .features {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
      height: 180vh; } }
  @media only screen and (max-width: 480px) {
    .features {
      height: 260vh; } }
  @media only screen and (max-width: 450px) {
    .features {
      height: 250vh; } }
  @media screen and (max-width: 425px) {
    .features {
      gap: 0rem; } }
  @media screen and (max-width: 315px) {
    .features {
      padding: 2rem; } }

.feature1 {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  grid-column: 1 / 1;
  grid-row: 1 / 1; }
  @media only screen and (max-width: 56.25em) {
    .feature1 {
      grid-column: 1 / 1;
      grid-row: 1 / 1; } }
  .feature1__title {
    font-family: 'Fira Code';
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    justify-self: start; }
  .feature1__icon {
    fill: var(--orange);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature1__text {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .05rem;
    font-size: 1.7rem;
    width: 50%; }
    @media screen and (max-width: 425px) {
      .feature1__text {
        width: 100%; } }

.feature2 {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  grid-column: 2 / 2;
  grid-row: 1 / 1; }
  @media only screen and (max-width: 56.25em) {
    .feature2 {
      grid-column: 1 / 1;
      grid-row: 2 / 2; } }
  .feature2__title {
    font-family: 'Fira Code';
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    justify-self: start; }
  .feature2__icon {
    fill: var(--orange);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature2__text {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .05rem;
    font-size: 1.7rem;
    width: 50%; }
    @media screen and (max-width: 425px) {
      .feature2__text {
        width: 100%; } }

.feature3 {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  grid-column: 1 / 1;
  grid-row: 2 / 2; }
  @media only screen and (max-width: 56.25em) {
    .feature3 {
      grid-column: 1 / 1;
      grid-row: 3 / 3; } }
  .feature3__title {
    font-family: 'Fira Code';
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    justify-self: start; }
  .feature3__icon {
    fill: var(--orange);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature3__text {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .05rem;
    justify-self: start;
    font-size: 1.7rem;
    width: 50%; }
    @media screen and (max-width: 425px) {
      .feature3__text {
        width: 100%; } }

.feature4 {
  display: grid;
  grid-template-columns: min-content 1fr;
  row-gap: 1.5rem;
  column-gap: 2.5rem;
  grid-column: 2 / 2;
  grid-row: 2 / 2; }
  @media only screen and (max-width: 56.25em) {
    .feature4 {
      grid-column: 1 / 1;
      grid-row: 4 / 4; } }
  .feature4__title {
    font-family: 'Fira Code';
    color: #fff;
    font-size: 2.25rem;
    font-weight: 300;
    justify-self: start; }
  .feature4__icon {
    fill: var(--orange);
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem); }
  .feature4__text {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: .05rem;
    font-size: 1.7rem;
    width: 50%; }
    @media screen and (max-width: 425px) {
      .feature4__text {
        width: 100%; } }

.domains {
  background-color: var(--black-2);
  height: 1320vh;
  width: 100vw;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 2000px) {
    .domains {
      height: 1350vh; } }
  @media screen and (max-width: 1900px) {
    .domains {
      height: 1350vh; } }
  @media screen and (max-width: 1700px) {
    .domains {
      height: 1350vh; } }
  @media only screen and (max-width: 1500px) {
    .domains {
      height: 1350vh; } }
  .domains-container {
    width: 100vw; }
    .domains-container--title {
      height: 10vh;
      width: 100vw;
      padding-top: 17.5rem;
      padding-bottom: 5rem;
      display: flex;
      justify-content: center;
      font-size: var(--fs-heading);
      font-family: 'Fira Code';
      font-weight: 300;
      color: #fff; }
      @media screen and (max-width: 425px) {
        .domains-container--title {
          font-size: var(--fs-title); } }
      @media screen and (max-width: 315px) {
        .domains-container--title {
          font-size: var(--fs-text-big); } }
    .domains-container--card {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "top" "bottom";
      margin: 10rem auto;
      background-color: var(--grey);
      height: 30vh;
      width: 75vw; }
      .domains-container--card_name {
        color: #fff;
        font-size: var(--fs-heading);
        font-family: 'Fira Code';
        font-weight: 300;
        grid-area: top;
        place-self: center; }
      .domains-container--card_domain {
        font-size: var(--fs-text-big);
        grid-area: bottom;
        place-self: center; }
      .domains-container--card_link {
        color: var(--orange); }

@keyframes blinking-cursor {
  0% {
    opacity: 1; }
  49% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0; } }
