/* ===== Universal Things ===== */
:root {
  --primary-purple: #4341B5;
  --primary-indigo: #4867C7;
  --primary-clay: #487EB0;
  --primary-blue: #48ABC7;
  --primary-seagrass: #44BDB6;
  --primary-black: #353b48;
  --primary-yellow: #e1b12c;
  --shadow-light-1: 0 3.5rem 4rem rgba(0, 0, 0, .4);
  --shadow-dark-1: 0 2rem 6rem rgba(0, 0, 0, .4);
  --shadow-dark-2: 0 2rem 4rem rgba(0, 0, 0, .6);
  --shadow-dark-3: 0 1.5rem 7rem rgba(0, 0, 0, .8);
  --shadow-light-4: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --border-bottom-1: .2rem solid #000;
  --border-bottom-2: .5rem solid #2980b9;
  --border-bottom-3: .5rem solid #48ABC7;
  --border-bottom-4: .1rem solid #ffd300;
  --border-bottom-5: .5rem solid #ffd300;
  --border-bottom-6: .2rem solid #40437c;
  --border-bottom-7: .5rem solid #fff;
  --border-1: .5rem solid #48ABC7;
  --border-2: .5rem solid #fff;
  --title-margin: 5rem;
  --top-margin: 2.5rem;
  --bottom-margin: 2.5rem;
  --left-margin: 5rem;
  --title-padding: 22.5rem 0rem 10rem 7.5rem;
  --big-padding: 17.5rem 7.5rem;
  --fs-heading-big: 4rem;
  --fs-heading: 3rem;
  --fs-title: 2.5rem;
  --fs-text-big: 2rem;
  --fs-text: 1.5rem; }

/* MEDIA QUERY SIZES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Saira', sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth; }

body {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: Saira;
  background-color: var(--primary-black); }

.nav {
  width: 100%;
  z-index: 3;
  background-color: var(--primary-blue);
  display: grid; }
  @media screen and (max-width: 800px) {
    .nav {
      display: none; } }
  .nav-ul {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    padding: 1rem; }
  .nav-li {
    font-size: var(--fs-title);
    list-style-type: none;
    padding: 1rem 2rem;
    transition: all .2s; }
    .nav-li--home {
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
    .nav-li--about {
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
    .nav-li--projects {
      text-decoration: none;
      color: #fff;
      transition: all .2s; }
    .nav-li--contact {
      color: #fff;
      text-decoration: none;
      transition: all .2s; }
  .nav-li:hover, .nav-li:active {
    background-color: var(--primary-black);
    border-radius: .3rem;
    transform: translateY(-1rem);
    box-shadow: var(--shadow-light-2); }

.navbar {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue);
  width: 100%;
  z-index: 999999;
  padding: 2.5rem 0rem; }
  @media screen and (max-width: 800px) {
    .navbar {
      display: flex; } }
  .navbar-icon {
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer; }
    .navbar-icon > span {
      width: 50px;
      height: 3px;
      background: #000;
      transition: all 0.3s ease-in-out; }
    .navbar-icon:hover span:nth-child(1) {
      width: 35px; }
    .navbar-icon:hover span:nth-child(2) {
      width: 40px; }
    .navbar-icon.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(-45deg) translate(-9px, 10px);
      width: 55px; }
    .navbar-icon.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0; }
    .navbar-icon.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(45deg) translate(-12px, -13px);
      width: 55px; }
    .navbar-icon--line1 {
      width: 4.2rem;
      justify-self: end; }
    .navbar-icon--line2 {
      margin-top: 1.5rem;
      width: 3.5rem;
      justify-self: end; }
    .navbar-icon--line3 {
      margin-top: 1.5rem; }

.sticky {
  position: sticky;
  top: 0; }

.display {
  overflow-y: hidden;
  display: none;
  transition: all .5s ease-out; }

.navcontent {
  background-color: var(--primary-blue);
  height: 0%;
  width: 100vw;
  position: fixed;
  overflow-y: hidden;
  z-index: 99999;
  transition: all .5s ease-out; }
  .navcontent-ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    list-style-type: none;
    text-decoration: none;
    height: 100%;
    color: #fff; }
    @media screen and (max-width: 37.5em) {
      .navcontent-ul {
        font-size: 1rem; } }
    .navcontent-ul--hjem {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      font-size: 1rem;
      align-self: end;
      justify-self: center; }
      .navcontent-ul--hjem_hjem {
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--om {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
      align-self: end;
      justify-self: center; }
      .navcontent-ul--om_om {
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--prosjekter {
      grid-column: 1 / 1;
      grid-row: 3 / 3;
      align-self: end;
      justify-self: center;
      display: flex;
      flex-direction: column; }
      .navcontent-ul--prosjekter_prosjekter {
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--skoleprosjekter {
      grid-column: 1 / 1;
      grid-row: 4 / 4;
      align-self: start;
      justify-self: center;
      display: flex;
      flex-direction: column; }
      .navcontent-ul--skoleprosjekter_skoleprosjekter {
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }
    .navcontent-ul--kontakt {
      grid-column: 1 / 1;
      grid-row: 5 / 5;
      display: flex;
      flex-direction: column;
      align-self: start;
      justify-self: center; }
      .navcontent-ul--kontakt_kontakt {
        font-size: var(--fs-text);
        letter-spacing: .2rem;
        color: #fff;
        text-decoration: none; }

.sticky {
  position: fixed; }

.landing {
  background-color: var(--primary-blue);
  color: #fff;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "top top" "bottom bottom";
  grid-gap: .5rem; }
  .landing_top {
    display: grid;
    grid-area: top;
    height: 100%;
    background-color: var(--primary-black); }
    .landing_top--title {
      font-size: var(--fs-heading);
      margin-left: var(--title-margin);
      align-self: center; }
      .landing_top--title_underline {
        border-bottom: var(--border-bottom-3); }
    .landing_top--img {
      display: grid;
      grid-area: top;
      grid-row: 1 / 1;
      grid-column: 2 / 2;
      align-self: center;
      justify-self: end;
      border-radius: 50%;
      border: var(--border-1);
      border-style: inset;
      outline: none;
      height: 15rem;
      width: 15rem;
      margin-right: var(--title-margin); }
  .landing_bottom {
    display: grid;
    align-items: center;
    grid-area: bottom;
    height: 100%;
    background-color: var(--primary-black); }
    .landing_bottom--title {
      font-size: var(--fs-heading);
      margin-left: var(--title-margin); }
      .landing_bottom--title_underline {
        border-bottom: var(--border-bottom-3); }

.spikesection {
  height: 89vh;
  background-color: var(--primary-black); }
  .spikesection_spike1 {
    margin-bottom: -1rem;
    width: 100vw; }
  .spikesection_spike2 {
    transform: rotate(180deg);
    width: 100vw; }
  .spikesection_spike3 {
    transform: scaleX(-1);
    width: 100vw; }
  .spikesection_spike4 {
    margin-top: -1rem;
    transform: scaleY(-1);
    width: 100vw; }
  @media screen and (max-width: 1600px) {
    .spikesection {
      height: 80vh; } }
  @media screen and (max-width: 56.25em) {
    .spikesection {
      height: 30vh; } }

.aboutsection {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "top top" "bottom bottom";
  background-color: var(--primary-black); }
  @media screen and (max-width: 1800px) {
    .aboutsection {
      height: 120vh; } }
  @media screen and (max-width: 1600px) {
    .aboutsection {
      height: 120vh; } }
  @media screen and (max-width: 1440px) {
    .aboutsection {
      height: 110vh; } }
  @media screen and (max-width: 1344px) {
    .aboutsection {
      height: 115vh; } }
  @media screen and (max-width: 1150px) {
    .aboutsection {
      height: 120vh; } }
  @media screen and (max-width: 56.25em) {
    .aboutsection {
      margin-top: 10rem;
      height: 250vh;
      grid-template-columns: 1fr;
      grid-template-rows: 225px .5fr .5fr 1fr .5fr; } }
  @media screen and (max-width: 775px) {
    .aboutsection {
      margin-top: 10rem;
      height: 250vh;
      grid-template-columns: 1fr;
      grid-template-rows: 225px .5fr .5fr 1fr .5fr; } }
  @media screen and (max-width: 37.5em) {
    .aboutsection {
      margin-top: 10rem;
      height: 250vh;
      grid-template-columns: 1fr;
      grid-template-rows: 225px .5fr .5fr 1fr .5fr; } }
  @media screen and (max-width: 425px) {
    .aboutsection {
      height: 110vh; } }
  @media screen and (max-width: 414px) {
    .aboutsection {
      height: 115vh; } }
  @media screen and (max-width: 375px) {
    .aboutsection {
      height: 110vh; } }
  .aboutsection_title {
    color: #fff;
    padding: var(--title-padding);
    font-size: var(--fs-heading-big);
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
    @media screen and (min-width: 2100px) {
      .aboutsection_title {
        padding: var(--big-padding); } }
    @media screen and (max-width: 1800px) {
      .aboutsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1600px) {
      .aboutsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1440px) {
      .aboutsection_title {
        padding: 17.5rem 7.5rem 25.5rem 7.5rem; } }
    @media screen and (max-width: 56.25em) {
      .aboutsection_title {
        padding: 0;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        align-self: end;
        justify-self: center; } }
    @media screen and (max-width: 775px) {
      .aboutsection_title {
        padding: 0;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        align-self: end;
        justify-self: center; } }
    @media screen and (max-width: 37.5em) {
      .aboutsection_title {
        padding: 0;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        align-self: end;
        justify-self: center; } }
    .aboutsection_title-underline {
      border-bottom: var(--border-bottom-3); }
  .aboutsection_text {
    color: #fff;
    margin-bottom: var(--bottom-margin);
    margin-left: 7.5rem;
    font-size: var(--fs-text);
    width: 30vw;
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    justify-self: start;
    align-self: end; }
    @media screen and (max-width: 56.25em) {
      .aboutsection_text {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
    @media screen and (max-width: 775px) {
      .aboutsection_text {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
    @media screen and (max-width: 37.5em) {
      .aboutsection_text {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
  .aboutsection_text2 {
    color: #fff;
    margin-top: var(--top-margin);
    margin-left: 7.5rem;
    font-size: var(--fs-text);
    width: 30vw;
    grid-area: bottom;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    justify-self: start;
    align-self: start; }
    @media screen and (max-width: 56.25em) {
      .aboutsection_text2 {
        grid-row: 4 / 4;
        grid-column: 1 / 1;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
    @media screen and (max-width: 775px) {
      .aboutsection_text2 {
        grid-row: 4 / 4;
        grid-column: 1 / 1;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
    @media screen and (max-width: 37.5em) {
      .aboutsection_text2 {
        grid-row: 4 / 4;
        grid-column: 1 / 1;
        margin: 0;
        font-size: var(--fs-text-big);
        width: 90%;
        text-align: center;
        place-self: center; } }
  .aboutsection_illustration {
    height: 25rem;
    width: 50rem;
    margin-bottom: var(--bottom-margin);
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    justify-self: center;
    align-self: end; }
    @media screen and (max-width: 56.25em) {
      .aboutsection_illustration {
        grid-row: 5 / 5;
        grid-column: 1 / 1;
        place-self: center; } }
    @media screen and (max-width: 775px) {
      .aboutsection_illustration {
        grid-row: 5 / 5;
        grid-column: 1 / 1;
        place-self: center; } }
    @media screen and (max-width: 37.5em) {
      .aboutsection_illustration {
        grid-row: 5 / 5;
        grid-column: 1 / 1;
        place-self: center; } }
  .aboutsection_img {
    margin-top: var(--top-margin);
    border-radius: .3rem;
    grid-area: bottom;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    justify-self: center;
    align-self: flex-start; }
    @media screen and (max-width: 1150px) {
      .aboutsection_img {
        height: 35rem; } }
    @media screen and (max-width: 56.25em) {
      .aboutsection_img {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
        place-self: center;
        margin: 0;
        height: 30rem; } }
    @media screen and (max-width: 775px) {
      .aboutsection_img {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
        place-self: center;
        margin: 0;
        height: 30rem; } }
    @media screen and (max-width: 37.5em) {
      .aboutsection_img {
        grid-row: 3 / 3;
        grid-column: 1 / 1;
        place-self: center;
        margin: 0;
        height: 30rem; } }

.projectsection {
  height: 150vh; }
  @media screen and (max-width: 1800px) {
    .projectsection {
      height: 210vh; } }
  @media screen and (max-width: 1600px) {
    .projectsection {
      height: 210vh; } }
  @media screen and (max-width: 1440px) {
    .projectsection {
      height: 650vh; } }
  @media screen and (max-width: 1344px) {
    .projectsection {
      height: 600vh; } }
  @media screen and (max-width: 1150px) {
    .projectsection {
      height: 550vh; } }
  @media screen and (max-width: 56.25em) {
    .projectsection {
      height: 500vh; } }
  @media screen and (max-width: 800px) {
    .projectsection {
      height: 510vh; } }
  @media screen and (max-width: 775px) {
    .projectsection {
      margin-top: 10rem;
      height: 580vh; } }
  @media screen and (max-width: 700px) {
    .projectsection {
      margin-top: 10rem;
      height: 580vh; } }
  @media screen and (max-width: 660px) {
    .projectsection {
      margin-top: 10rem;
      height: 560vh; } }
  @media screen and (max-width: 37.5em) {
    .projectsection {
      height: 530vh; } }
  @media screen and (max-width: 590px) {
    .projectsection {
      margin-top: 10rem;
      height: 510vh; } }
  @media screen and (max-width: 510px) {
    .projectsection {
      margin-top: 10rem;
      height: 500vh; } }
  @media screen and (max-width: 425px) {
    .projectsection {
      height: 510vh; } }
  @media screen and (max-width: 414px) {
    .projectsection {
      height: 510vh; } }
  @media screen and (max-width: 375px) {
    .projectsection {
      height: 510vh; } }
  .projectsection_title {
    color: #fff;
    padding: var(--title-padding);
    font-size: var(--fs-heading-big);
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
    @media screen and (min-width: 2100px) {
      .projectsection_title {
        padding: var(--big-padding); } }
    @media screen and (max-width: 1800px) {
      .projectsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1600px) {
      .projectsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 775px) {
      .projectsection_title {
        padding: 17.5rem 0;
        text-align: center;
        grid-row: 1 / 1;
        grid-column: 1 / 1; } }
    @media screen and (max-width: 37.5em) {
      .projectsection_title {
        text-align: center; } }
    .projectsection_title-underline {
      border-bottom: var(--border-bottom-3); }
  .projectsection_homes {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(100rem, 1fr));
    gap: 7rem;
    padding: 0rem 20rem; }
    @media screen and (min-width: 1500px) {
      .projectsection_homes {
        display: grid;
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
        gap: 7rem;
        padding: 0rem 7.5rem; } }
    @media screen and (max-width: 800px) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 775px) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 37.5em) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 425px) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 414px) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 375px) {
      .projectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    .projectsection_homes-home {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3.5rem;
      background-color: #f9f7f6; }
      .projectsection_homes-home_img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        z-index: 1; }
      .projectsection_homes-home_name {
        justify-self: center;
        align-self: end;
        font-family: "Saira";
        font-size: 1.6rem;
        text-align: center;
        font-weight: 400;
        width: 80%;
        background-color: #101d2c;
        color: white;
        z-index: 2;
        transform: translateY(50%);
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        padding: 1.25rem; }
      .projectsection_homes-home_info1 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .projectsection_homes-home_info2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .projectsection_homes-home_info3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .projectsection_homes-home_info4 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .projectsection_homes-home_btn {
        align-items: center;
        grid-row: 4 / 4;
        grid-column: 1 / span 2; }

.btn {
  background-color: var(--primary-blue);
  color: white;
  font-family: "Saira";
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 2rem 3rem;
  transition: all 0.3s ease 0s; }

.btn:hover {
  background-color: var(--primary-clay); }

.schoolprojectsection {
  height: 200vh; }
  @media screen and (max-width: 1800px) {
    .schoolprojectsection {
      height: 225vh; } }
  @media screen and (max-width: 1600px) {
    .schoolprojectsection {
      height: 210vh; } }
  @media screen and (max-width: 1440px) {
    .schoolprojectsection {
      height: 600vh; } }
  @media screen and (max-width: 1344px) {
    .schoolprojectsection {
      height: 565vh; } }
  @media screen and (max-width: 1150px) {
    .schoolprojectsection {
      height: 540vh; } }
  @media screen and (max-width: 56.25em) {
    .schoolprojectsection {
      height: 210vh; } }
  @media screen and (max-width: 800px) {
    .schoolprojectsection {
      height: 650vh; } }
  @media screen and (max-width: 775px) {
    .schoolprojectsection {
      margin-top: 10rem;
      height: 650vh; } }
  @media screen and (max-width: 37.5em) {
    .schoolprojectsection {
      height: 640vh; } }
  @media screen and (max-width: 425px) {
    .schoolprojectsection {
      height: 620vh; } }
  @media screen and (max-width: 414px) {
    .schoolprojectsection {
      height: 620vh; } }
  @media screen and (max-width: 375px) {
    .schoolprojectsection {
      height: 620vh; } }
  .schoolprojectsection_title {
    color: #fff;
    padding: var(--title-padding);
    font-size: var(--fs-heading-big);
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
    @media screen and (min-width: 2100px) {
      .schoolprojectsection_title {
        padding: var(--big-padding); } }
    @media screen and (max-width: 1800px) {
      .schoolprojectsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1600px) {
      .schoolprojectsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1600px) {
      .schoolprojectsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 775px) {
      .schoolprojectsection_title {
        padding: 17.5rem 0;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        text-align: center; } }
    @media screen and (max-width: 37.5em) {
      .schoolprojectsection_title {
        text-align: center; } }
    .schoolprojectsection_title-underline {
      border-bottom: var(--border-bottom-3); }
  .schoolprojectsection_homes {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(100rem, 1fr));
    gap: 7rem;
    padding: 0rem 20rem; }
    @media screen and (min-width: 1500px) {
      .schoolprojectsection_homes {
        display: grid;
        grid-template-columns: repeat(3, minmax(25rem, 1fr));
        gap: 7rem;
        padding: 0rem 7.5rem; } }
    @media screen and (max-width: 800px) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 775px) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 37.5em) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 425px) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 414px) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    @media screen and (max-width: 375px) {
      .schoolprojectsection_homes {
        justify-content: center;
        padding: 0 10rem; } }
    .schoolprojectsection_homes-home {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 3.5rem;
      background-color: #f9f7f6; }
      .schoolprojectsection_homes-home_img {
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        z-index: 1; }
      .schoolprojectsection_homes-home_imgpodcast {
        width: 100%;
        height: 23.5rem;
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        z-index: 1; }
        @media screen and (max-width: 1440px) {
          .schoolprojectsection_homes-home_imgpodcast {
            height: 50rem; } }
      .schoolprojectsection_homes-home_name {
        justify-self: center;
        align-self: end;
        font-family: "Saira";
        font-size: 1.6rem;
        text-align: center;
        font-weight: 400;
        width: 80%;
        background-color: #101d2c;
        color: white;
        z-index: 2;
        transform: translateY(50%);
        grid-row: 1 / 2;
        grid-column: 1 / span 2;
        padding: 1.25rem; }
      .schoolprojectsection_homes-home_info1 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .schoolprojectsection_homes-home_info2 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .schoolprojectsection_homes-home_info3 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .schoolprojectsection_homes-home_info4 {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 2rem; }
      .schoolprojectsection_homes-home_btn1 {
        align-self: end;
        grid-column: 1 / span 2; }
      .schoolprojectsection_homes-home_btn2 {
        align-self: end;
        grid-column: 1 / 1;
        grid-row: 4 / 4; }
      .schoolprojectsection_homes-home_btn3 {
        width: 100%;
        height: 50%; }
      .schoolprojectsection_homes-home .khknapp {
        text-decoration: none;
        align-self: end;
        grid-column: 2 / 2;
        grid-row: 4 / 4; }
      .schoolprojectsection_homes-home .podcast-btn {
        text-decoration: none;
        align-self: end;
        grid-column: 2 / 2;
        grid-row: 4 / 4; }
    .schoolprojectsection_homes-homePosts {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); }
      .schoolprojectsection_homes-homePosts_img-face {
        width: 100%; }
        @media screen and (max-width: 1440px) {
          .schoolprojectsection_homes-homePosts_img-face {
            height: 60rem;
            width: 40rem; } }
      .schoolprojectsection_homes-homePosts_img-insta {
        width: 100%; }
        @media screen and (max-width: 1440px) {
          .schoolprojectsection_homes-homePosts_img-insta {
            height: 60rem;
            width: 40rem; } }
      .schoolprojectsection_homes-homePosts_img-VG {
        height: 100%;
        width: 100%;
        grid-row: 1 / 2;
        grid-column: 1 / span 2; }
        @media screen and (max-width: 1440px) {
          .schoolprojectsection_homes-homePosts_img-VG {
            height: 60rem;
            width: 40rem; } }
      .schoolprojectsection_homes-homePosts .facebookpost {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        justify-self: center;
        align-self: center;
        transition: all .2s; }
      .schoolprojectsection_homes-homePosts .instagrampost {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        justify-self: center;
        align-self: center;
        transition: all .2s; }
      .schoolprojectsection_homes-homePosts .vgpost {
        grid-row: 1 / span 2;
        grid-column: 1 / span 2;
        justify-self: center;
        align-self: center;
        transition: all .2s; }

.btn {
  display: grid;
  background-color: var(--primary-blue);
  color: white;
  font-family: "Saira";
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  padding: 2rem 3rem;
  transition: all 0.3s ease 0s; }

.btnlink {
  text-decoration: none; }

.btn:hover {
  background-color: var(--primary-clay); }

.contactsection {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "top top" "bottom";
  background-color: var(--primary-black); }
  @media screen and (max-width: 1600px) {
    .contactsection {
      height: 150vh; } }
  @media screen and (max-width: 800px) {
    .contactsection {
      margin-top: 10rem;
      height: 275vh;
      grid-template-columns: 1fr;
      grid-template-rows: 225px 1fr .5fr 1fr .5fr; } }
  .contactsection_title {
    color: #fff;
    padding: var(--title-padding);
    font-size: var(--fs-heading-big);
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1; }
    @media screen and (min-width: 2100px) {
      .contactsection_title {
        padding: var(--big-padding); } }
    @media screen and (max-width: 1800px) {
      .contactsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1600px) {
      .contactsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 1150px) {
      .contactsection_title {
        padding: 17.5rem 7.5rem; } }
    @media screen and (max-width: 800px) {
      .contactsection_title {
        padding: 0;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
        align-self: end;
        justify-self: center; } }
    .contactsection_title-underline {
      border-bottom: var(--border-bottom-3); }
  .contactsection_text {
    color: #fff;
    margin-bottom: var(--bottom-margin);
    margin-left: 7.5rem;
    font-size: var(--fs-text);
    width: 30vw;
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    justify-self: start;
    align-self: end; }
    @media screen and (max-width: 800px) {
      .contactsection_text {
        margin: 10rem 0;
        padding: 0;
        grid-column: 1 / 1;
        grid-row: 2 / 2;
        place-self: center;
        width: 90%;
        font-size: var(--fs-text-big);
        text-align: center; } }
  .contactsection_illustration {
    height: 25rem;
    width: 50rem;
    grid-area: top;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    justify-self: center;
    align-self: end; }
    @media screen and (max-width: 800px) {
      .contactsection_illustration {
        margin: 5rem 0rem;
        padding: 0;
        grid-column: 1 / 1;
        grid-row: 4 / 4;
        text-align: center;
        place-self: center; } }
    @media screen and (max-width: 800px) {
      .contactsection_illustration {
        width: 40rem; } }
  .contactsection_picture {
    height: 40rem;
    margin-left: 7.5rem;
    grid-row: 2 / 2;
    grid-column: 1 / 1;
    align-self: center;
    justify-self: start; }
    @media screen and (max-width: 800px) {
      .contactsection_picture {
        margin: 0rem;
        padding: 0;
        grid-column: 1 / 1;
        grid-row: 3 / 3;
        text-align: center;
        place-self: center; } }
  .contactsection-social {
    align-self: center;
    justify-self: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin-top: 40rem; }
    @media screen and (max-width: 800px) {
      .contactsection-social {
        padding: 0;
        grid-column: 1 / 1;
        grid-row: 5 / 5;
        place-self: center; } }
    .contactsection-social-img {
      fill: #fff;
      height: 4rem; }
      @media screen and (max-width: 425px) {
        .contactsection-social-img {
          height: 4rem; } }
    .contactsection-social-div {
      background-color: var(--primary-blue);
      border-radius: .8rem;
      height: 8rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s; }
      @media screen and (max-width: 425px) {
        .contactsection-social-div {
          height: 6rem;
          width: 6rem; } }
    .contactsection-social-div:hover {
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow-dark-3); }
  .contactsection-socialface {
    align-self: center;
    justify-self: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin-bottom: 40rem; }
    @media screen and (max-width: 800px) {
      .contactsection-socialface {
        margin-top: 5rem;
        grid-column: 1 / 1;
        grid-row: 5 / 5; } }
    .contactsection-socialface-img {
      fill: #fff;
      height: 4rem; }
      @media screen and (max-width: 425px) {
        .contactsection-socialface-img {
          height: 4rem; } }
    .contactsection-socialface-div {
      background-color: var(--primary-blue);
      border-radius: .8rem;
      height: 8rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s; }
      @media screen and (max-width: 425px) {
        .contactsection-socialface-div {
          height: 6rem;
          width: 6rem; } }
    .contactsection-socialface-div:hover {
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow-dark-3); }
  .contactsection-socialmail {
    align-self: center;
    justify-self: center;
    grid-column: 2 / 2;
    grid-row: 2 / 2; }
    @media screen and (max-width: 800px) {
      .contactsection-socialmail {
        grid-column: 1 / 1;
        grid-row: 5 / 5; } }
    .contactsection-socialmail-img {
      fill: #fff;
      height: 3rem; }
      @media screen and (max-width: 425px) {
        .contactsection-socialmail-img {
          height: 3rem; } }
    .contactsection-socialmail-div {
      background-color: var(--primary-blue);
      border-radius: .8rem;
      height: 8rem;
      width: 8rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s; }
      @media screen and (max-width: 425px) {
        .contactsection-socialmail-div {
          height: 6rem;
          width: 6rem; } }
    .contactsection-socialmail-div:hover {
      transform: translateY(-0.5rem);
      box-shadow: var(--shadow-dark-3); }

.footersection {
  margin-top: -1rem;
  height: 10vh;
  background-color: var(--primary-blue); }
  .footersection_text {
    text-align: center;
    color: #fff;
    font-size: var(--fs-title); }
