.nav {
    // position: fixed;
    width: 100%;
    // padding: 1rem 0rem;
    z-index: 3;
    background-color: var(--black-1);

    display: grid;

    @media screen and (max-width: 800px) {
        display: none;
    }

    &-ul {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        flex-direction: row;
        // display: grid;
        // align-items: center;
        // grid-template-columns: repeat(5, 1fr);
        // grid-template-rows: repeat(1, 10rem);
        // height: 10vh;
        padding: 1rem;
    }

    &-li {
        // display: flex;
        // flex-basis: 1;
        // flex-grow: 1;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;

        font-size: var(--fs-title);
        list-style-type: none;
        padding: 1rem 2rem;
        transition: all .2s;

        &--home {
            font-family: 'Fira Code';
            font-weight: 300;
            letter-spacing: .15rem;
            color: #fff;
            text-decoration: none;
            transition: all .2s;
        }

        &--about {
            font-family: 'Fira Code';
            font-weight: 300;
            letter-spacing: .15rem;
            color: #fff;
            text-decoration: none;
            transition: all .2s;
        }

        &--domains {
            font-family: 'Fira Code';
            font-weight: 300;
            letter-spacing: .15rem;
            text-decoration: none;
            color: #fff;

            transition: all .2s;
        }

    }

    &-li:hover,
    &-li:active {
        background-color: var(--orange);
        border-radius: .3rem;
        transform: translateY(-1rem);
        box-shadow: var(--shadow-light-2);
    }
}

.navbar {
	display: none;
	justify-content: center;
	align-items: center;

	// margin-top: 1rem;

	// position: fixed;
	background-color: var(--black-1);
	width: 100%;
	z-index: 999999;
	padding: 2.5rem 0rem;

	// position: absolute;
	// top: 5rem;
	// right: 5rem;
	// position: fixed;
	// background-color: #fff;
	// height: 10rem;
	// width: 10rem;
	// border-radius: 50%;

    @media screen and (max-width: 800px) {
        display: flex;
    }
    
	&-icon {
		display: grid;
		place-items: center;
		position: relative;
		cursor: pointer;

		&>span {
			width: 50px;
			height: 3px;
			background: #fff;
			transition: all 0.3s ease-in-out;
		}

		&:hover span:nth-child(1) {
			width: 35px;
		}

		&:hover span:nth-child(2) {
			width: 40px;
		}

		&.active span:nth-child(1) {
			transform-origin: center center;
			transform: rotate(-45deg) translate(-9px, 10px);
			width: 55px;
		}

		&.active span:nth-child(2) {
			transform: translateX(10px);
			opacity: 0;
		}

		&.active span:nth-child(3) {
			transform-origin: center center;
			transform: rotate(45deg) translate(-12px, -13px);
			width: 55px;
		}

		&--line1 {
			width: 4.2rem;
			justify-self: end;
		}

		&--line2 {
			margin-top: 1.5rem;
			width: 3.5rem;
			justify-self: end;
		}

		&--line3 {
			margin-top: 1.5rem;
		}
	}
}

.sticky {
	position: sticky;
	top: 0;
}

.display {
	overflow-y: hidden;
	display: none;
	transition: all .5s ease-out;
}

.navcontent {
    top: 0;
	background-color: var(--black-text);
	height: 0%;
	width: 100vw;
	position: fixed;
	overflow-y: hidden;
	z-index: 99999;
	transition: all .5s ease-out;

	&-ul {
		display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 200px);

		list-style-type: none;
		text-decoration: none;

        height: 100%;
        

		color: #fff;

		@media screen and (max-width: $bp-medium) {
		
		}

		@media screen and (max-width: $bp-small) {
			font-size: 1rem;
		}

		&--hjem {
			grid-column: 1 / 1;
            grid-row: 1 / 1;
            
            font-size: 1rem;

			align-self: end;
            justify-self: center;
            

			@media screen and (max-width: $bp-medium) {
				
			}

			@media screen and (max-width: 425px) {
				
            }
            
            &_hjem {
                font-family: 'Fira Code';
                font-weight: 300;
                letter-spacing: 1rem;
                font-size: var(--fs-text);
                letter-spacing: .2rem;
                color: #fff;
                text-decoration: none;
            }
		}

		&--om {
			grid-column: 1 / 1;
            grid-row: 2 / 2;
            
            align-self: end;
		    justify-self: center;
			

			@media screen and (max-width: $bp-medium) {
				
			}

			@media screen and (max-width: 425px) {
				
            }
            
            &_om {
                font-family: 'Fira Code';
                font-weight: 300;
                letter-spacing: 1rem;
                font-size: var(--fs-text);
                letter-spacing: .2rem;
                color: #fff;
                text-decoration: none;
            }
		}


		&--domains {
			grid-column: 1 / 1;
			grid-row: 3 / 3;
            
            align-self: end;
		    justify-self: center;

			display: flex;
			flex-direction: column;
            
			@media screen and (max-width: $bp-medium) {
				
			}
            
			@media screen and (max-width: 425px) {
                
            }
            
            &_domains {
                font-family: 'Fira Code';
                font-weight: 300;
                letter-spacing: 1rem;
                font-size: var(--fs-text);
                letter-spacing: .2rem;
                color: #fff;
                text-decoration: none;
            }
		}

	}
}


.sticky {
    position: fixed;
}

.landing {
    height: 80vh;

    &-title {
        margin-top: 20rem;

        text-align: center;

        color: #fff;
        font-family: 'Fira Code';
        font-weight: 500;
        letter-spacing: .25rem;
        font-size: var(--fs-heading-big);

        @media screen and (max-width: 540px) {
			font-size: var(--fs-heading);
        }

        @media screen and (max-width: 425px) {
			font-size: var(--fs-text-big);
        }

        @media screen and (max-width: 315px) {
            padding-left: 1rem;
            font-size: 1.75rem;
        }
    }

    &-typingcontainer {
        display: flex;
        flex-direction: row;
        // text-align: center;
        height: 50vh;

        align-items: center;
        justify-content: center;
    
        &--typing {
            display: inline-block;
            color: #fff;
            margin-top: 10rem;

            // text-align: center;

            font-family: 'Fira Code';
            font-weight: 500;
            letter-spacing: .25rem;
            font-size: var(--fs-heading);

            @media screen and (max-width: 425px) {
                font-size: var(--fs-text-big);
            }

        }
        
        &--cursor {
            // content:'';
            // display:inline-block;
            align-content: center;
            border-right: .3rem solid #fff;
            height: 10%;
            margin-top: 10rem;
            animation-name: blinking-cursor;
            animation-duration: .5s;
            animation-iteration-count: infinite;
        }

    }
}


.features__title {
    padding-top: 12.5rem;
    padding-left: 5rem;

    font-family: 'Fira Code';
    font-weight: 300;
    color: #fff;
    background-color: var(--black-1);
    font-size: var(--fs-heading);
    text-align: left;

    @media screen and (max-width: 540px) {
        font-size: var(--fs-title);
    }

    @media screen and (max-width: 425px) {
        font-size: var(--fs-text-big);
    }

    @media screen and (max-width: 315px) {
        padding-left: 1rem;
        font-size: var(--fs-text-big);
    }
}

.features {
    display: grid;
    background-color: var(--black-1);
    height: 95vh;
    grid-column: center-start / center-end;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 6rem;
    padding: 5rem;
    align-items: center;

      @media only screen and (max-width: $bp-medium) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        height: 180vh;
    }

    @media only screen and (max-width: 480px) {
        height: 260vh;
    }

    @media only screen and (max-width: 450px) {
        height: 250vh;
    }

    @media screen and (max-width: 425px) {
        gap: 0rem;
    }

    @media screen and (max-width: 315px) {
        padding: 2rem;
    }
}

.feature1 {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    grid-column: 1 / 1;
    grid-row: 1 / 1;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    &__title {
        font-family: 'Fira Code';
        color: #fff;
        font-size: 2.25rem;
        font-weight: 300;
        justify-self: start;
    }

    &__icon {
        fill: var(--orange);
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        color: #fff;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .05rem;
        font-size: 1.7rem;
        width: 50%;

        @media screen and (max-width: 425px) {
            width: 100%;
        }
    }
}

.feature2 {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    grid-column: 2 / 2;
    grid-row: 1 / 1;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / 1;
        grid-row: 2 / 2;
    }

    &__title {
        font-family: 'Fira Code';
        color: #fff;
        font-size: 2.25rem;
        font-weight: 300;
        justify-self: start;
    }

    &__icon {
        fill: var(--orange);
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        color: #fff;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .05rem;
        font-size: 1.7rem;
        width: 50%;

        @media screen and (max-width: 425px) {
            width: 100%;
        }
    }
}

.feature3 {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    grid-column: 1 / 1;
    grid-row: 2 / 2;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / 1;
        grid-row: 3 / 3;
    }

    &__title {
        font-family: 'Fira Code';
        color: #fff;
        font-size: 2.25rem;
        font-weight: 300;
        justify-self: start;
    }

    &__icon {
        fill: var(--orange);
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        color: #fff;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .05rem;
        justify-self: start;
        font-size: 1.7rem;
        width: 50%;

        @media screen and (max-width: 425px) {
            width: 100%;
        }
    }
}

.feature4 {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;

    grid-column: 2 / 2;
    grid-row: 2 / 2;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / 1;
        grid-row: 4 / 4;
    }

    &__title {
        font-family: 'Fira Code';
        color: #fff;
        font-size: 2.25rem;
        font-weight: 300;
        justify-self: start;
    }

    &__icon {
        fill: var(--orange);
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        color: #fff;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: .05rem;
        font-size: 1.7rem;
        width: 50%;

        @media screen and (max-width: 425px) {
            width: 100%;
        }
    }
}


.domains {
    background-color: var(--black-2);
    height: 1320vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 2000px) {
        height: 1350vh;
    }

    @media screen and (max-width: 1900px) {
        height: 1350vh;
    }
    
    @media screen and (max-width: 1700px) {
        height: 1350vh;
    }

    @media only screen and (max-width: 1500px) {
        height: 1350vh;
    }


    &-container {
        width: 100vw;

        &--title {
            height: 10vh;
            width: 100vw;
            padding-top: 17.5rem;
            padding-bottom: 5rem;
            
            display: flex;
            justify-content: center;

            font-size: var(--fs-heading);
            font-family: 'Fira Code';
            font-weight: 300;
            color: #fff;

            @media screen and (max-width: 425px) {
                font-size: var(--fs-title);
            }

            @media screen and (max-width: 315px) {
                font-size: var(--fs-text-big);
            }
        }

        &--card {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: "top""bottom";
            // justify-content: center;
            margin: 10rem auto;


            background-color: var(--grey);

            height: 30vh;
            width: 75vw;

            &_name {
                color: #fff;
                font-size: var(--fs-heading);
                font-family: 'Fira Code';
                font-weight: 300;
                grid-area: top;
                place-self: center;
            }

            &_domain {
                font-size: var(--fs-text-big);
                grid-area: bottom;
                place-self: center;
            }

            &_link {
                color: var(--orange);
            }
        }


    }
}

@keyframes blinking-cursor {

    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}